@model SkeletorDAL.Model.CreateHorseModel

@{
    ViewBag.Title = "CreateHorse";
    ViewBag.successMessage = "Success";
}

<h2>SKAPA HESTAR</h2>


@using (Html.BeginForm("CreateHorse", "CreateHorse", FormMethod.Post))
{

    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td>@Html.LabelFor(m => m.Name)</td>
            <td>@Html.TextBoxFor(m => m.Name)</td>
            <td>@Html.ValidationMessageFor(model => model.Name, "")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Birthday)</td>
            <td>
                @Html.TextBoxFor(m => m.Birthday)
            </td>
            <td>@Html.ValidationMessageFor(model => model.Birthday, "")</td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Race)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Race)
            </td>
            <td>@Html.ValidationMessageFor(model => model.Race, "")</td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Withers)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Withers)
            </td>
            <td>@Html.ValidationMessageFor(model => model.Withers, "")</td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Description)
            </td>
            <td>
                @Html.TextAreaFor(m => m.Description)
            </td>
            <td>@Html.ValidationMessageFor(model => model.Description, "")</td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Medicine)
            </td>
            <td>
                @Html.TextAreaFor(m => m.Medicine)
            </td>
            <td>@Html.ValidationMessageFor(model => model.Medicine, "")</td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.FamilyTree)
            </td>
            <td>
                @Html.TextAreaFor(m => m.FamilyTree)
            </td>
            <td>@Html.ValidationMessageFor(model => model.FamilyTree, "")</td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Awards)
            </td>
            <td>
                @Html.TextAreaFor(m => m.Awards)
            </td>
            <td>@Html.ValidationMessageFor(model => model.Awards, "")</td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.IsForSale)
            </td>
            <td>
                @Html.CheckBoxFor(m => m.IsForSale)
            </td>
            <td>@Html.ValidationMessageFor(model => model.IsForSale, "")</td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Price)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Price)
            </td>
            <td>@Html.ValidationMessageFor(model => model.Price, "")</td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.ImagePath)
            </td>
            <td>
                @Html.TextBoxFor(m => m.ImagePath)
            </td>
            <td>@Html.ValidationMessageFor(model => model.ImagePath, "")</td>
        </tr>
    </table>
    <input type="submit" value="Add" />


    @*<div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Race, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Race, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Race, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Withers, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Withers, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Withers, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div> <div class="form-group">
                @Html.LabelFor(model => model.Medicine, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Medicine, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Medicine, "", new { @class = "text-danger" })
                </div>
            </div> <div class="form-group">
                @Html.LabelFor(model => model.FamilyTree, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FamilyTree, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FamilyTree, "", new { @class = "text-danger" })
                </div>
            </div> <div class="form-group">
                @Html.LabelFor(model => model.Awards, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Awards, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Awards, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsForSale, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsForSale)
                        @Html.ValidationMessageFor(model => model.IsForSale, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ImagePath, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div>@ViewData["Error"]</div>
                    <input type="submit" value="Add horse" class="btn btn-default" />
                </div>
            </div>
        </div>*@
}

<div>
    @Html.ActionLink("Go to Home", "Index", "Home")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
