@model IEnumerable<SkeletorDAL.Model.AdminModel>

@{
    ViewBag.Title = "Index";
}

<h2>Manage Admins</h2>
@Html.ActionLink("Edit my own account", "Edit", new { id = 1})


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdminLevel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    if (item.AdminLevel != 1)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminLevel)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
            </td>
        </tr>
    }

}

</table>
