@using System.Collections.Specialized
@using SkeletorHorseProject.Controllers
@model List<string>

<div class="slider-container">
	<div class="hiddenoo">
		<div class="owl-carousel slider">
			@foreach (var image in Model)
			{
				<div class="panel panel-primary slider-item">
					<img src="@Url.Content(image)" />
				</div>
			}
		</div>
	</div>
</div>
<br />
<p>
	@if (User.Identity.IsAuthenticated)
	{
		@*<div class="btn-btn-default">
				<input type="button" value="Edit SlideShow" onclick="location.href = '@Url.Action("UploadSlideshowFile", "EditSlideShowImages")'" />
			</div> }*@
		@Html.ActionLink("Edit SlideShow", "UploadSlideshowFile", "EditSlideShowImages")
	}
</p>


<br />

<div id="puffContainer" class="col-md-12">
	@Html.Action("GetPuffsToHome", "Home")
</div>

<div id="puffHorseContainer" class="col-md-12">


	@Html.Action("LatestUpdates", "Home")

</div>


@section Styles {
	<link href="~/Content/owl.carousel.css" rel="stylesheet" />
}

@section Scripts {
	<script src="~/Scripts/owl.carousel.min.js"></script>
	<script>
		$(document).ready(function () {
			$(".slider").owlCarousel({
				autoPlay: 5000,
				singleItem: true,
				//items: 1,
				responsive: true,
				navigation: false,
				afterInit: function (event) {
					$(".slider-container > .hiddenoo").fadeIn(100);
				}
			});
		});
	</script>
}

