@using SkeletorHorseProject.Controllers
<h2>Index</h2>

<h3>Temporary Navigation</h3>

<ol>
    <li>
        @Html.ActionLink("Home", "Index", "Home")
    </li>
    <li>
        <a href="">Horses (no skeleton implemented)</a>
    </li>
    <li>
        @Html.ActionLink("About", "Index", "About")
    </li>
    <li>
        @Html.ActionLink("Contact", "Index", "Contact")
    </li>
    <li>
        @Html.ActionLink("Login", "Login", "AdminLogin")
    </li>
    <li>@Html.ActionLink("Specific horse", "Index","HorseProfile")</li>
    <li>
        <a href="">For Sale (no skeleton implemented)</a>
    </li>
</ol>

<br /><br /><br /><br />
<hr />
<h2>Here will be a slider, depending on which design we choose</h2>