@model SkeletorDAL.Model.HorseProfileModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
    <body>
        <div>
            <img src="@Url.Content(Model.ImagePath)" style="height: 250px; width: 200px;" alt="Image" />
        </div>
        <br/>
        <br/>
        <div>
            <b>@Html.DisplayNameFor(model => model.Breeding):</b>  @Html.DisplayFor(model => model.Breeding)
             <br/>
            <b>@Html.DisplayNameFor(model => model.Gender):</b>  @Html.DisplayFor(model => model.Gender)
             <br/>
            <b>@Html.DisplayNameFor(model => model.Name):</b>  @Html.DisplayFor(model => model.Name)
             <br/>
            <b>@Html.DisplayNameFor(model => model.Rent):</b>  @Html.DisplayFor(model => model.Rent)
             <br/>
            <b>@Html.DisplayNameFor(model => model.Birthday):</b>  @Html.DisplayFor(model => model.Birthday)
             <br/>
            <b>@Html.DisplayNameFor(model => model.Race):</b>  @Html.DisplayFor(model => model.Race)
             <br/>
            <b>@Html.DisplayNameFor(model => model.Withers):</b>  @Html.DisplayFor(model => model.Withers)
             <br/>
            <b>@Html.DisplayNameFor(model => model.Awards):</b>  @Html.DisplayFor(model => model.Awards)
             <br/>
            <b>@Html.DisplayNameFor(model => model.IsActive):</b>  @Html.DisplayFor(model => model.IsActive)
             <br/>
            <b>@Html.DisplayNameFor(model => model.IsForSale):</b>  @Html.DisplayFor(model => model.IsForSale)
             <br/>
            <b>@Html.DisplayNameFor(model => model.Price):</b>  @Html.DisplayFor(model => model.Price)
             <br/>
            <b>@Html.DisplayNameFor(model => model.IsSold):</b>  @Html.DisplayFor(model => model.IsSold)
             <br/>
            <b>@Html.DisplayNameFor(model => model.State):</b>  @Html.DisplayFor(model => model.State)
            <br/>
            <b>@Html.DisplayNameFor(model => model.Description):</b>  @Html.DisplayFor(model => model.Description)
             <br/>
            <b>@Html.DisplayNameFor(model => model.Medicine):</b>  @Html.DisplayFor(model => model.Medicine)
             <br/>
            <b>@Html.DisplayNameFor(model => model.FamilyTree):</b>  @Html.DisplayFor(model => model.FamilyTree)
             <br/>
            <b>@Html.DisplayNameFor(model => model.FacebookPath):</b>  @Html.DisplayFor(model => model.FacebookPath)
             <br/>
        </div>
    </body>
</html>
