@model SkeletorDAL.Model.HorseProfileModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
    <body>
        <div>
            <img src="@Url.Content(Model.ImagePath)" style="height: 250px; width: 200px;" alt="Image" />
        </div>
        <br/>
        <br/>
        <div>
       
             
                @Html.DisplayNameFor(model => model.Breeding):  @Html.DisplayFor(model => model.Breeding)
             <br/>
    
             
                @Html.DisplayNameFor(model => model.Gender):  @Html.DisplayFor(model => model.Gender)
             <br/>
    
             
                @Html.DisplayNameFor(model => model.Name):  @Html.DisplayFor(model => model.Name)
             <br/>
    
             
                @Html.DisplayNameFor(model => model.Rent):  @Html.DisplayFor(model => model.Rent)
             <br/>
    
             
                @Html.DisplayNameFor(model => model.Birthday):  @Html.DisplayFor(model => model.Birthday)
             <br/>
    
             
                @Html.DisplayNameFor(model => model.Race):  @Html.DisplayFor(model => model.Race)
             <br/>

    
             
                @Html.DisplayNameFor(model => model.Withers):  @Html.DisplayFor(model => model.Withers)
             <br/>
    
             
                @Html.DisplayNameFor(model => model.Awards):  @Html.DisplayFor(model => model.Awards)
             <br/>

    
             
                @Html.DisplayNameFor(model => model.IsActive):  @Html.DisplayFor(model => model.IsActive)
             <br/>
    
    
             
                @Html.DisplayNameFor(model => model.IsForSale):  @Html.DisplayFor(model => model.IsForSale)
             <br/>
    
    
             
                @Html.DisplayNameFor(model => model.Price):  @Html.DisplayFor(model => model.Price)
             <br/>

    
             
                @Html.DisplayNameFor(model => model.IsSold):  @Html.DisplayFor(model => model.IsSold)
             <br/>

    
             
                @Html.DisplayNameFor(model => model.State):  @Html.DisplayFor(model => model.State)
            <br/>
    
    
             
                @Html.DisplayNameFor(model => model.Description):  @Html.DisplayFor(model => model.Description)
             <br/>
    
    
             
                @Html.DisplayNameFor(model => model.Medicine):  @Html.DisplayFor(model => model.Medicine)
             <br/>

    
             
                @Html.DisplayNameFor(model => model.FamilyTree):  @Html.DisplayFor(model => model.FamilyTree)
             <br/>
    
             
                @Html.DisplayNameFor(model => model.FacebookPath):  @Html.DisplayFor(model => model.FacebookPath)
             <br/>
        </div>
    </body>
</html>
