@model SkeletorDAL.Model.FamilyTreeModel

@{
    Layout = null;
}

@using (Html.BeginForm("EditHorseFamilyTree", "HorseProfile", new { id = Model.horseid, name = Model.HorseName }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.Label("Fathers name:")

        @Html.TextBoxFor(m => m.Father.Name)
    </div>
    <div>
        @Html.Label("Fathers description")
        @Html.TextBoxFor(m => m.Father.Description)
    </div>
    <div>
        @Html.Label("Mothers name")
        @Html.TextBoxFor(m => m.Mother.Name)
    </div>
    <div>
        @Html.Label("Mothers description")
        @Html.TextBoxFor(m => m.Mother.Description)
    </div>
    <div>
        @foreach (var child in Model.Children)
        {   <br />
            @Html.Label("Child name")
            @Html.TextBoxFor(m => child.Name)
            <br/>
            @Html.Label("Child description")

            @Html.TextBoxFor(m => child.Description)
        }

    </div>
    <div>
        <input type="submit" value="Save" />
    </div>


}
