@model SkeletorDAL.Model.FamilyTreeModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FamilyTree</title>
    <link href="~/Content/familyTree.css" rel="stylesheet" />
</head>
<body>
    <div class="tree">
        <ul>
            <li>
                <a href="#">@Model.Mother.Name</a>
                <a href="#">@Model.Father.Name</a>
                <ul>
                    <li>
                        <a href="#">@Model.HorseName</a>
                        <ul>
                            @foreach (var child in Model.Children)
                            {
                                <li>
                                    <a href="#">@child.Name</a>
                                </li>}

                        </ul>
                    </li>

<<<<<<< HEAD
                </ul>
            </li>
        </ul>
    </div>
    <div id="edit_tree">
        @if (User.Identity.IsAuthenticated)
        {
            <button class="btn-default" value="Edit family tree">
                @Html.Action("EditParentsInFamilyTree", new { id = Model.horseid })
            </button>
            <button class="btn-default" value="Edit family tree">
                @Html.Action("EditChildrenInFamilyTree", new { id = Model.horseid })
            </button>
        }
    </div>
=======
            </ul>
        </li>
    </ul>
</div>
<div id="edit_tree">
   @if (User.Identity.IsAuthenticated && int.Parse(User.Identity.Name) < 2)
   {
       <button class="btn-default" value="Edit family tree">
           @Html.Action("EditFamilyTree", new{id=Model.horseid})
       </button>
   }
</div>
>>>>>>> a0944e6a22cc6d701be205ad845c144c90d4c3bb
</body>
</html>
