@model SkeletorDAL.Model.FamilyTreeModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FamilyTree</title>
    <link href="~/Content/familyTree.css" rel="stylesheet" />
</head>
<body>
    <div class="col-md-12" style="margin-bottom: 20px;">
        <div class="tree" style="padding-left: 30%">
            <ul>
                <li>
                    <a class="familyTreeBoxes" href="#" style="max-width: 130px;">
                        <p>@Model.Parents.MotherName</p>
                        <hr />
                        <p>@Model.Parents.MotherDescription</p>
                    </a>
                    <a href="#" class="familyTreeBoxes" style="max-width: 130px;">
                        <p>@Model.Parents.FatherName</p>
                        <hr />
                        <p>@Model.Parents.FatherDescription</p>
                    </a>
                    <ul>
                        <li>
                            <a href="#" class="familyTreeBoxes" style="max-width: 130px;">@Model.HorseName</a>
                            <ul>
                                @foreach (var child in Model.Children)
                                {

                                    <li>
                                        <a href="#" class="familyTreeBoxes" style="max-width:130px;">
                                            <p>@child.Name</p>
                                            <hr />
                                            <p>@child.Description</p>
                                        </a>
                                    </li>}

                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    @if (User.Identity.IsAuthenticated && User.Identity.Name == "1")
    {


        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#changeFamilyTreeInformation" aria-expanded="false" aria-controls="changeFamilyTreeInformation">
            Change family tree information
        </button>
        <div class="collapse" data-toggle="collapse" data-target=".navbar-collapse" id="changeFamilyTreeInformation">
            <div class="well">
                <div id="edit_tree">
                    @if (User.Identity.IsAuthenticated && int.Parse(User.Identity.Name) < 2)
                    {
                        <div id="EditParentsInFamilyTree">
                            @Html.Action("EditParentsInFamilyTree", new { id = Model.horseid })
                        </div>

                        <div id="EditChildrenInFamilyTree">
                            @if (Model.Children.Count == 0)
                            {
                                <p>No childs</p>
                                <div class="btn btn-primary" type="button" data-toggle="collapse" data-target="#addNewChild" aria-expanded="false" aria-controls="addNewChild">
                                    Add new child
                                </div>
                                <div class="collapse" data-toggle="collapse" data-parent="#changeFamilyTreeInformation" data-target=".navbar-collapse" id="addNewChild">
                                    <div class="collapse in">
                                        @Html.Action("AddNewChild", new { id = Model.horseid, horseName = Model.HorseName })
                                    </div>

                                </div>
                            }
                            else
                            {
                                @Html.Action("EditChildrenInFamilyTree", new { id = Model.horseid })
                            }

                          
                        </div>
                    }
                </div>
            </div>

        </div> }


</body>
</html>
