@using SkeletorDAL.Model
@model SkeletorDAL.Model.HorseProfileModel
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">
        <div id="horse_ProfilePicture" class="col-md-3">
            <img src="~/Images/ladda ned.jpg" />
            <dl>
                <dt>About @Model.Name</dt>
                <dd>Wither: @Model.Withers</dd>
                <dd>Race: @Model.Race</dd>
                <dt>Tävlingar och priser</dt>
                <dd>
                    @foreach (var award in Model.Awards)
                    {
                        @award

                    }
                </dd>
            </dl>
        </div>
        <div id="horseDescription" class="col-md-9">
            <div role="tabpanel" id="horseInformation">
                <ul class="nav nav-tabs" role="tablist">
                    
                    @foreach (var information in Model.HorseInformationModels)
                    {
                        <li role="presentation" class="list"><a href="#@information.Heading" aria-controls="@information.Heading" role="tab" data-toggle="tab">@information.Heading</a></li>
                    }
                </ul>
                <div class="tab-content">
                    @foreach (var information in Model.HorseInformationModels)
                    {
                        <div role="tabpanel" class="tab-pane active" id="@information.Heading">
                            @information.ContentText
                        </div>
                    }

                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div id="horseBlog" class="col-md-9">@Html.Action("HorseBlog")</div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>