@using SkeletorDAL.Model
@using SkeletorHorseProject.Controllers
@using SkeletorHorseProject.Helpers
@model SkeletorDAL.Model.HorseProfileModel
@{
    ViewBag.Title = "Index";
}
<div class="container">

    <div class="ImgAndInfoBox">
        <div class="row">
            <div class="HorsePicture">
                <div id="horse_ProfilePicture" class="col-md-3">
                    <img src="@Url.Content(Model.ImagePath)" style="height: 250px; width: 200px;" alt="Image"/>
                    <div class="editbuttonsForProfile">
                        <p>
                            @if (User.Identity.IsAuthenticated && int.Parse(User.Identity.Name) < 2)
                            {
                                @Html.ActionLink("Change Image", "UploadProfilePicture", "HorseProfile", new { id = Model.ID }, null)
                            }
                        </p>

                        <p>
                            @if (User.Identity.IsAuthenticated && int.Parse(User.Identity.Name) < 2)
                            {
                                @Html.ActionLink("Edit profile", "EditHorseProfile", "EditHorseProfile", new { id = @Model.ID }, null)
                                <br />
                                @Html.ActionLink("Edit Editors", "EditEditors", "EditHorseProfile", new { id = @Model.ID }, null)
                                <br />
                            }
                            @Html.ActionLink("Print friendly version", "Index", "Print", new { id = @Model.ID }, null)

                        </p>
                    </div>

                </div>
                <div class="HorseName">
                    <h1>@Model.Name</h1>
                </div>

                <div class="horseProfileInfoBox">
                    
                        <h2>Birthday</h2> @Model.Birthday.ToShortDateString()
                    
                    @if (!string.IsNullOrEmpty(Model.Gender))
                    {
                        <p>
                            <h2>Gender</h2> @Model.Gender
                        </p>
                    }
                    else
                    {
                        <p>
                            <h2>Gender</h2> Gender is not specified
                        </p>
                    }
                    <p>
                        <h2>Race</h2> @Model.Race
                    </p>
                    <p>
                        <h2>Withers height</h2> @Model.Withers cm
                    </p>

                    @if (!string.IsNullOrEmpty(Model.Awards))
                    {
                        <p>
                            <h2>Awards</h2>@Html.DisplayMultiline(Model.Awards)
                        </p>
                    }

                    @if (Model.IsForSale)
                    {
                        <p>
                            <h2>Status</h2> This Horse is for sale
                        </p>
                        <p>
                            <h2>Price</h2> @Model.Price
                        </p>

                    }
                    @if (Model.IsForRent)
                    {

                        <p>
                            <h2>Rental</h2> This horse is available for rent
                        </p>
                    }
                    @if (Model.Breeding)
                    {
                        <p>
                            <h2>Breeding</h2> This horse is available for breeding
                        </p>
                    }
                
                </div>

       
            </div>
        </div>
        <div class="tabsIfoboxes">
            <div id="horseDescription" class="col-md-12">
                <div role="tabpanel" id="horseInformation">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a></li>
                        <li role="presentation"><a href="#health" aria-controls="health" role="tab" data-toggle="tab">Health</a></li>
                        <li role="presentation"><a href="#family-tree" aria-controls="family-tree" role="tab" data-toggle="tab">Family Tree</a></li>
                        <li role="presentation"><a href="#horseBlog" aria-controls="family-tree" role="tab" data-toggle="tab">Blog</a></li>
                        <li role="presentation"><a href="#gallery" aria-controls="Health" role="tab" data-toggle="tab">Gallery</a></li>
                        <li role="presentation"><a href="#videos" aria-controls="videos" role="tab" data-toggle="tab">Videos</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="description">
                            @Html.DisplayMultiline(Model.Description)
                        </div>
                        <div role="tabpanel" class="tab-pane" id="videos">
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (Model.AdminId.Contains(int.Parse(User.Identity.Name)) || User.Identity.Name == "1")
                                {
                                    @Html.Action("AddNewHorseVideo", new { id = Model.ID })
                                }
                                @Html.Action("GetHorseVideos", new { id = Model.ID })
                            }

                        </div>
                        <div role="tabpanel" class="tab-pane" id="health">
                            <dl>
                                <dd>@Model.Medicine</dd>
                            </dl>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="family-tree">

                            @Html.Action("FamilyTree", new { id = Model.ID, horseName = Model.Name })

                        </div>
                        <div role="tabpanel" class="tab-pane" id="horseBlog">
                            @foreach (var post in Model.Blog.Posts)
                            {
                                if (post.IsActive)
                                {
                                    <h4>@post.Title</h4>
                                    <p style="font-size: 9px;">@post.Created</p>
                                    <br />
                                    <p>@post.Content</p>
                                    if (User.Identity.IsAuthenticated)
                                    {
                                        @Html.ActionLink("Delete post", "DeleteBlogPost", "HorseProfile", new { postId = post.ID, blogID = post.BlogID }, new { onclick = "return confirm('Are you sure you wish to delete this article?');" })
                                    }
                                    <hr />
                                }
                            }
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (Model.AdminId.Contains(int.Parse(User.Identity.Name)) || int.Parse(User.Identity.Name) == 1)
                                {
                                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#addBlogPost" aria-expanded="false" aria-controls="addBlogPost">
                                        Add blogpost
                                    </button>
                                    <div class="collapse" data-toggle="collapse" data-target=".navbar-collapse" id="addBlogPost">
                                        <div class="well">
                                            @Html.Action("AddBlogPost", new { blog = @Model.Blog })
                                        </div>

                                    </div>
                                }
                            }

                        </div>
                        <div role="tabpanel" class="tab-pane" id="gallery">
                            <br />
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (Model.AdminId.Contains(int.Parse(User.Identity.Name)) || int.Parse(User.Identity.Name) == 1)
                                {
                                    @Html.Action("UploadImageButton", new { id = @Model.ID })
                                }
                            }

                            <br />
                            @Html.Action("Gallery", new { id = @Model.ID })
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <hr />
    </div>

</div>



@if (!string.IsNullOrEmpty(Model.FacebookPath))
{
    <h1 class="HeaderFacebook">
        See my everyday life on Facebook
    </h1>
    <div class="facebookBlog">
        <div class="row" style="margin-top: 25px;">

            <div class="col-md-12">@Html.Action("HorseBlog", new { id = @Model.ID })</div>

        </div>
    </div>
}

