@using SkeletorDAL.Model
@model SkeletorDAL.Model.HorseModel
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">
        <div id="horse_ProfilePicture" class="col-md-3">
            <img src="~/Images/ladda ned.jpg" />
	        <dl>
		        <dt>About @Model.Name</dt>
		        <dd>Wither: @Model.Withers</dd>
		        <dd>Race: @Model.Race</dd>
		        <dd>Birthday: @Model.Birthday.ToShortDateString()</dd>
		        <dt>Tävlingar och priser</dt>
		        <dd>
			        @foreach (var award in Model.Awards)
			        {
				        @award

			        }
		        </dd>
	        </dl>
			<p>
				@if (User.Identity.IsAuthenticated)
				{
					@Html.ActionLink("Edit profile", "EditHorseProfile", "EditHorseProfile", new { id = Model.ID }, null)
				}
			</p>
        </div>
        <div id="horseDescription" class="col-md-9">
            <div role="tabpanel" id="horseInformation">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a></li>
                    <li role="presentation"><a href="#medicine" aria-controls="medicine" role="tab" data-toggle="tab">Medicine</a></li>
                    <li role="presentation"><a href="#family-tree" aria-controls="family-tree" role="tab" data-toggle="tab">Famliy-tree</a></li>
                    <li role="presentation"><a href="#facebook" aria-controls="family-tree" role="tab" data-toggle="tab">Facebook</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="description">
                        @Model.Description
                    </div>
                    <div role="tabpanel" class="tab-pane" id="medicine">
                        @Model.Medicine
                    </div>
                    <div role="tabpanel" class="tab-pane" id="family-tree">
                        @Model.FamilyTree
                    </div>
                    <div role="tabpanel" class="tab-pane" id="facebook">
                        @Model.Facebook

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div id="horseBlog" class="col-md-9">@Html.Action("HorseBlog")</div>

</div>

