@model System.Collections.Generic.List<SkeletorDAL.Model.HorseModel>

@{
    ViewBag.Title = "title";
}


<body>
    @Html.Action("Search", "FilteredHorsePage")
    <div id="filtering_horses" style="overflow: visible; display: block; width: 1024px;">


        @if (Model.Count == 0)
        {
            <p>No horses available</p>
        }
        else
        {
            foreach (var horse in Model)
            {
                <div id="horse">
                    <a href="@Url.Content("~/horseprofile/index/" + horse.ID)"><img src="@Url.Content(horse.ImagePath)" style=" height: 250px; width: 200px;" alt="Image" /></a>
                    <div class="horseInfoBox">
                        <p id="horseName">
                            @Html.ActionLink((@horse.Name), "Index", "HorseProfile", new { id = @horse.ID }, null)
                        </p>

                        @if (horse.Breeding)
                        {
                            <p class="horseParagraf">
                                Birthday: @horse.Birthday.ToShortDateString() <br />
                                Gender: @horse.Gender <br />
                                Available for breeding
                            </p>
                        }
                        else
                        {
                            <p class="horseParagraf">
                                Birthday: @horse.Birthday.ToShortDateString() <br />
                                Gender: @horse.Gender
                            </p>
                        }
                        @if (horse.Rent)
                        {
                            <p class="horseParagraf">Available for rent</p>
                        }
                        @if (horse.IsForSale)
                        {
                            <p class="horseParagraf">For sale</p>
                        }
                        @if (horse.IsSold)
                        {
                            <p class="horseParagraf">Sold</p>
                        }

                    </div>
                </div>
            }
        }
    </div>
</body>