@model System.Collections.Generic.List<SkeletorDAL.Model.HorseModel>

@{
    ViewBag.Title = "title";
}
<body>
    <div id="filtering_horses" style="overflow: hidden">
        <table>
            <tr id="horseRow">


                @if (Model.Count == 0)
                {
                    <p>No horses avalible</p>
                }
                else
                {
                    foreach (var horse in Model)
                    {
                        <td>
                            <div id="horse">
                                <img src="@Url.Content(horse.ImagePath)" style=" height: 250px; width: 200px;" alt="Image" />
                                <div class="horseInfoBox">
                                    <p id="horseName">
                                        @Html.ActionLink((@horse.Name), "Index", "HorseProfile", new { id = @horse.ID }, null)
                                    </p>
                                    <p class="horseParagraf">
                                        Birthday: @horse.Birthday.ToShortDateString() <br />
                                        Gender: @horse.Gender <br />
                                        Breeding: @horse.Breeding
                                    </p>

                                </div>
                            </div>
                        </td>
                    }
                }

            </tr>
        </table>
    </div>
</body>