@model SkeletorDAL.Model.AboutReadOnlyModel
@using SkeletorHorseProject.Models

<p>
	@if (User.Identity.IsAuthenticated && int.Parse(User.Identity.Name) < 2)
	{
		@Html.ActionLink("Edit", "EditAbout", "EditAboutPage")
	}
</p>

<div class="AboutContent">
    <div class="AboutInfoBox">
        <h1>@Model.Header1</h1>
        <p>@Model.Textfield1</p>
        <hr/>
    </div>

    <div class="AboutInfoBox">
        <h1>@Model.Header2</h1>
        <p>@Model.Textfield2</p>
        <hr />
    </div>

    <div class="AboutInfoBox">
        <h1>@Model.Header3</h1>
        <p>@Model.Textfield3</p>
    </div>
</div>


