@model IEnumerable<SkeletorDAL.Model.EditorModel>

@{
    ViewBag.Title = "EditEditors";
}

<h2>EditEditors</h2>

@Html.Action("AddEditor","EditHorseProfile")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EditorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorseName)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EditorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorseName)
        </td>

        <td>          
            @Html.ActionLink("Delete", "DeleteEditorForHorse", new { horseId = item.HorseId, editorId = item.EditorId }, new { onclick = "return confirm('Are you sure you wish to delete this editor?');" })
        </td>
    </tr>
}

</table>
