@model SkeletorDAL.Model.EditHorseProfileModel
@{
    ViewBag.Title = "EditHorseProfile";
}

<h2>EDIT HORSE</h2>



@using (Html.BeginForm("EditHorseProfile", "EditHorseProfile", new { id = Model.ID }, FormMethod.Post, null))
{

    @Html.AntiForgeryToken()
    <div>
        <fieldset>
            <div>@Html.LabelFor(m => m.Name)</div>
            <div>
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(model => model.Name, "")
            </div>
            <div>@Html.LabelFor(m => m.Birthday)</div>
            <div>
                @Html.TextBoxFor(m => m.Birthday)
                @Html.ValidationMessageFor(model => model.Birthday, "")
            </div>
            <div>@Html.LabelFor(m => m.Race)</div>
            <div>
                @Html.TextBoxFor(m => m.Race)
                @Html.ValidationMessageFor(model => model.Race, "")
            </div>
            <div>@Html.LabelFor(m => m.Withers)</div>
            <div>
                @Html.TextBoxFor(m => m.Withers)
                @Html.ValidationMessageFor(model => model.Withers, "")
            </div>


            <div>@Html.LabelFor(m => m.Description)</div>
            <div>
                @Html.TextAreaFor(m => m.Description)
                @Html.ValidationMessageFor(model => model.Description, "")
            </div>

            <div>@Html.LabelFor(m => m.Medicine)</div>
            <div>
                @Html.TextAreaFor(m => m.Medicine)
                @Html.ValidationMessageFor(model => model.Medicine, "")
            </div>


            <div>@Html.LabelFor(m => m.FamilyTree)</div>
            <div>
                @Html.TextAreaFor(m => m.FamilyTree)
                @Html.ValidationMessageFor(model => model.FamilyTree, "")
            </div>


            <div>@Html.LabelFor(m => m.Awards)</div>
            <div>
                @Html.TextAreaFor(m => m.Awards)
                @Html.ValidationMessageFor(model => model.Awards, "")
            </div>

            <div>@Html.LabelFor(m => m.Price)</div>
            <div>
                @Html.TextBoxFor(m => m.Price)
                @Html.ValidationMessageFor(model => model.Price, "")
            </div>

            <div>@Html.LabelFor(m => m.FacebookPath)</div>
            <div>
                @Html.TextBoxFor(m => m.FacebookPath)
                @Html.ValidationMessageFor(model => model.FacebookPath, "")
            </div>

            <div>@Html.LabelFor(m => m.Gender)</div>
            <div>
                Male @Html.RadioButtonFor(m => m.Gender, "Male")
                Female @Html.RadioButtonFor(m => m.Gender, "Female")

                @Html.ValidationMessageFor(model => model.IsSold, "")
            </div>
            @*@Html.RadioButtonFor(model => model.gender, "Male", new { @checked = true }) and
                @Html.RadioButtonFor(model => model.gender, "Female", new { @checked = true })*@


            <div>@Html.LabelFor(m => m.IsForSale)</div>
            <div>
                @Html.CheckBoxFor(m => m.IsForSale)
                @Html.ValidationMessageFor(model => model.IsForSale, "")
            </div>

            <div>@Html.LabelFor(m => m.IsSold)</div>
            <div>
                @Html.CheckBoxFor(m => m.IsSold)
                @Html.ValidationMessageFor(model => model.IsSold, "")
            </div>

            <div>@Html.LabelFor(m => m.IsActive)</div>
            <div>
                @Html.CheckBoxFor(m => m.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive, "")
            </div>
            <input type="submit" value="Submit" />
        </fieldset>
    </div>

}