@model SkeletorDAL.Model.FooterModel

@using (Html.BeginForm("AddNewFooterLink", "Footer", FormMethod.Post))
{

    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td>Link Name</td>
            <td>@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })</td>
            <td>@Html.ValidationMessageFor(model => model.Name, "")</td>
        </tr>
        <tr>
            <td>Link URL</td>
            <td>@Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control" } })</td>
            <td>@Html.ValidationMessageFor(model => model.Url, "")</td>
        </tr>
        <tr>
            <td>Link Column (Only 1-4 will be displayed)</td>
            <td>@Html.EditorFor(m => m.Column, new { htmlAttributes = new { @class = "form-control" } })</td>
            <td>@Html.ValidationMessageFor(model => model.Column, "")</td>

        </tr>
    </table>
    <input type="submit" value="Submit" />
}