@model SkeletorHorseProject.Controllers.BlogPostModel

@using (Html.BeginForm("AddBlogPostToBlog", "HorseProfile", new { blogID = Model.BlogID }, FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    <div class="row">

        @Html.Label("Subject")
    </div>
    <div class="row">
        @Html.TextBoxFor(m => m.Title)
        </div>

    <div class="row">
        @Html.LabelFor(m => m.Content)
    </div>
    <div id="postarea" class="row">
        @Html.TextAreaFor(m => m.Content)
    </div>
                <div class="row">
            <input type="submit" value="Add post" />
        </div>

}
