@model IEnumerable<SkeletorDAL.Model.HorseSaleModel>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Race)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Withers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prices)
        </th>
        <th>
            @Html.DisplayName("Purchase Information")
        </th>
    </tr>

@foreach (var horse in Model) {
    <tr>
        <td>
            @Html.ActionLink(horse.Name, "Index", "HorseProfile", new { id = horse.ID }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => horse.Birthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => horse.Race)
        </td>
        <td>
            @Html.DisplayFor(modelItem => horse.Withers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => horse.Prices)
        </td>
        <td>
            @Html.ActionLink("Contact Us", "Index","Contact") 
        </td>
    </tr>
}

</table>
