<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Nordahl - Elevage Du Nord</title>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", required: false)
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="navigation">
            
            <div class="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="loggoButton"><a href="~/Home/Index"><img class="loggoButton" src="~/resources/logga.png"/></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="True">Horses <span class="caret"></span></a>

                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("All Horses", "FilterPage", "FilteredHorsePage", new {navigationId = 1}, null)</li>
                            <li>@Html.ActionLink("Horses For Sale", "FilterPage", "FilteredHorsePage", new { navigationId = 2 }, null)</li>
                            <li>@Html.ActionLink("Sold Horses", "FilterPage", "FilteredHorsePage", new { navigationId = 3 }, null)</li>

                        </ul>
                    </li>
                    <li>@Html.ActionLink("For Sale", "Index", "HorseSale", new {area = ""}, new {@class = "navbar-brand"})</li>
                    <li>@Html.ActionLink("Gallery", "Index", "Gallery", new {area = ""}, new {@class = "navbar-brand"})</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Contact", "Index", "Contact", new {area = ""}, new {@class = "navbar-brand"})</li>
                    <li>@Html.ActionLink("About", "Index", "About", new {area = ""}, new {@class = "navbar-brand"})</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Log out", "LogOut", "Home", new {area = ""}, new {@class = "navbar-brand"})</li>
                    }
                </ul>
                
            </div>
           
        </div>

        <div class="breadcrumbs">
            @Html.ActionLink("Home", "Index", "Home") &ensp;
            @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
            {
                if (ViewContext.RouteData.Values["controller"].ToString() == "FilteredHorsePage")
                {
                    ViewContext.RouteData.Values["controller"] = "Horses";
                    @:> &ensp; @Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString())
                }
                else
                {
                    @:> &ensp; @Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString())
                }
            }
            @*@if (ViewContext.RouteData.Values["action"].ToString() != "Index")
            {
                @:> &ensp; @Html.ActionLink(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString())
}*@
        </div>

        <div class="content">
            @RenderBody()
        </div>

        <div class="footer">
            @Html.Action("Index", "Footer")
        </div>

    </div>
 
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

@RenderSection("Scripts", required: false)


</body>
</html>