@model SkeletorDAL.Model.EditPuffModel

<div class="row">
    <div class="puff">
        <h1>@Model.Header1</h1>
        <p>
            @Model.Textfield1
        @if (Model.Link1 != null)
        {
            <a href="@Model.Link1">[ ... ]</a>
        }
    </p>
    </div>
    <div class="puff">
        <h1>@Model.Header2</h1>
        <p>
            @Model.Textfield2
        @if (Model.Link2 != null)
        {
            <a href="@Model.Link2">[ ... ]</a>
        }
    </p>
    </div>
    <div class="puff">
        <h1>@Model.Header3</h1>
        <p>
            @Model.Textfield3
        @if (Model.Link3 != null)
        {
            <a href="@Model.Link3">[ ... ]</a>
        }
    </p>
    </div>
</div>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Edit Puffs", "Edit", "EditPuff")
    }
</p>
