@model  List<SkeletorDAL.Model.FooterModel>
@{
    ViewBag.Title = "Footer";
}

@if (User.Identity.IsAuthenticated)
{ <div class="editFooterLinks">
        @Html.ActionLink("Edit Links", "EditLinks", "Footer")
  </div>
}

@*Column 1*@
<div class="FooterContainer">
    <div class="FooterColumn">

        @foreach (var link in Model)
        {
            if (link.Column == 1)
            {
                <ul>
                    <li><a href="@link.Url">@link.Name</a></li>
                </ul>
            }
        }
    </div>

    @*Column 2*@
    <div class="FooterColumn">
        @foreach (var link in Model)
        {
            if (link.Column == 2)
            {
                <ul>
                    <li><a href="@link.Url">@link.Name</a></li>
                </ul>
            }
        }
    </div>

    @*Column 3*@
    <div class="FooterColumn">
        @foreach (var link in Model)
        {
            if (link.Column == 3)
            {
                <ul>
                    <li><a href="@link.Url">@link.Name</a></li>
                </ul>
            }
        }
    </div>

    @*Column 4*@
    <div class="FooterColumn">
        @foreach (var link in Model)
        {
            if (link.Column == 4)
            {
                <ul>
                    <li><a href="@link.Url">@link.Name</a></li>
                </ul>
            }
        }
    </div>
</div>