@model  List<SkeletorDAL.Model.FooterModel>
@{
    ViewBag.Title = "Footer";
}

@if (User.Identity.IsAuthenticated)
{<p>
        @Html.ActionLink("Edit Links", "EditLinks", "Footer")
    </p>
}


@*Column 1*@
@foreach (var link in Model)
{
    if (link.Column == 1)
    {
        <ul>
            <li><a href="@link.Url">@link.Name</a></li>
        </ul>
    }
}

@*Column 2*@
@foreach (var link in Model)
{
    if (link.Column == 2)
    {
        <ul>
            <li><a href="@link.Url">@link.Name</a></li>
        </ul>
    }
}

@*Column 3*@
@foreach (var link in Model)
{
    if (link.Column == 3)
    {
        <ul>
            <li><a href="@link.Url">@link.Name</a></li>
        </ul>
    }
}

@*Column 4*@
@foreach (var link in Model)
{
    if (link.Column == 4)
    {
        <ul>
            <li><a href="@link.Url">@link.Name</a></li>
        </ul>
    }
}